[Unit]
Description=Vault
Documentation=https://vaultproject.io/docs/

[Service]
Restart=on-failure
ExecStart=/bin/vault server -config /vault/server.hcl
ExecReload=/bin/kill -HUP $MAINPID
LimitNOFILE=65536
KillSignal=SIGTERM
User=root
Group=root

[Install]
WantedBy=multi-user.target
